h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ACC4CE;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 5px #878787;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: #395075;
    letter-spacing: 10px;
}
p{
    font-family: verdana, arial, sans-serif;
    color: grey;
    font-size: 14px;
    line-height: 20px;
    text-indent: 20px;
}
#container{
    width: 500px;
}